@page "/WaterCompany/{waterCompanyId:int}/Reservations/Manage"
@model OnlyFarms.WebApp.Pages.WaterManager.Reservations.ManageModel

@inject ICompanyRepository<FarmingCompany> FarmingCompanies

@{
    ViewData["Title"] = "Manage Reservations";
}

<div class="container mt-4">
    @if (Model.ReservationsList.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Company City</th>
                    <th>Booked QTY</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var reservation in Model.ReservationsList)
                {
                    var farmingCompany = await FarmingCompanies.Get(reservation.FarmingCompanyId);
                    <tr>
                        <th>@farmingCompany.Name</th>
                        <th>@farmingCompany.City</th>
                        <th>@reservation.BookedQuantity liters</th>
                        <th>€ @reservation.Price</th>
                        <th>@(reservation.Accepted? "Active" : "Pending")</th>
                        <th>
                            <div class="pull-left">
                                <form method="post">
                                    <button asp-page-handler="Submit" class="btn btn-success" type="submit" asp-route-reservationId="@reservation.Id" asp-route-waterCompanyId="@reservation.WaterCompanyId">accept</button>
                                </form>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }

    else
    {
        <h3 class="text-danger">There isn't any new reservation to accept for now</h3>
    }
</div>
