@page
@model OnlyFarms.WebApp.Pages.WaterManager.Profile

@{
    ViewData["Title"] = "Profile";
}

<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img class="img-fluid" src="/img/irrigation.jpeg" alt="">
        <div class="caption">
            <h1 style="color: white">@Model.Company.Name</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h1>Company Informations:</h1>
    
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Company.Name</dd>
        
        <dt class="col-sm-2">City</dt>
        <dd class="col-sm-10">@Model.Company.City</dd>
        
        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Company.Address</dd>
        
        <dt class="col-sm-2">Current Water Supply</dt>
        <dd class="col-sm-10">@Model.Company.WaterSupply liters</dd>
        
        <dt class="col-sm-2">Current Global Water Limit</dt>
        <dd class="col-sm-10">@Model.Company.GlobalWaterLimit liters</dd>
    </dl>
</div>
