@page "/FarmingCompanies/{farmingCompanyId:int}/Reservations"
@model OnlyFarms.WebApp.Pages.FarmManager.Reservations.Index
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Reservations";
    var user = await UserManager.GetUserAsync(User);
}

<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img class="img-fluid" src="/img/waterLimit.jpg" alt="" width="85%">
        <div class="caption">
            <h1 style="color: white">YOUR WATER RESERVATIONS</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h3 class="text">ACTIVE</h3>
    @if (Model.CurrentReservations.Any())
    {
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">BOOKED QUANTITY</th>
                <th scope="col">PRICE</th>
                <th scope="col">STARTED</th>
                <th scope="col">WATER COMPANY</th>
                <th scope="col">ACTION</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var reservation in Model.CurrentReservations)
            {
                <tr>
                    <td>@reservation.Id</td>
                    <td>@reservation.BookedQuantity</td>
                    <td>@reservation.Price</td>
                    <td>@reservation.Timestamp.ToString("dd/MM/yyyy")</td>
                    <td>@reservation.WaterCompanyId</td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteReservationModal" data-reservationId="@reservation.Id">unsubscribe</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-danger">You don't have any active reservation yet!</h5>
    }
    
    <a type="button" class="btn btn-success" asp-page="/FarmManager/Reservations/Reservation" asp-route-farmingCompanyId="@user!.CompanyId">
        Request new Reservation
    </a>
    
</div>

<div class="container mt-5">
    <h3 class="text">PENDING</h3>
    @if (Model.PendingReservations.Any())
    {
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">BOOKED QUANTITY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">WATER COMPANY</th>
                    <th scope="col">STATE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model.PendingReservations)
                {
                    <tr>
                        <td>@reservation.Id</td>
                        <td>@reservation.BookedQuantity</td>
                        <td>@reservation.Price</td>
                        <td>@reservation.WaterCompanyId</td>
                        <td>PENDING</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-danger">You have no pending reservations for now</h5>
    }

</div>

<div class="container mt-5">
    <h3 class="text">HISTORY</h3>
    @if (Model.PastReservations.Any())
    {
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">BOOKED QUANTITY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">STARTED</th>
                    <th scope="col">WATER COMPANY</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model.PastReservations)
                {
                    <tr>
                        <td>@reservation.Id</td>
                        <td>@reservation.BookedQuantity</td>
                        <td>@reservation.Price</td>
                        <td>@reservation.Timestamp.ToString("dd/MM/yyyy")</td>
                        <td>@reservation.WaterCompanyId</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-danger">Your reservations history is clear!</h5>
    }

</div>

<div class="modal fade" id="deleteReservationModal" tabindex="-1" aria-labelledby="deleteReservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteReservationModalLabel">Are you sure?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-page-handler="deleteReservation" method="post">
                <div class="modal-body">
                    doing this will remove the Reservation from your active list
                    <input id="modalReservationId" type="hidden" asp-for="DeleteReservationId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                    <button type="submit" class="btn btn-danger">Unsubscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    @* questo script serve a modificare in maniera dinamica i valori passati al form di eliminazione della prenotazione in base al bottone premuto
       cosi' e' possibile avere un unico modal per tutte le prenotazioni, invece che avere multipli modal (duplicazione eccessiva di codice html) *@
    
    const modal = document.getElementById('deleteReservationModal');
    const modalReservationId = document.getElementById('modalReservationId');

    document.addEventListener('click', function (event) {
        if (event.target && event.target.getAttribute('data-bs-toggle') === 'modal') {
            
            const reservationId = event.target.getAttribute('data-reservationId');
            modalReservationId.value = reservationId;
        }
    });
</script>