@page "/FarmingCompanies/{farmingCompanyId:int}/Reservations"
@model OnlyFarms.WebApp.Pages.FarmManager.Reservations.Index
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Reservations";
    var user = await UserManager.GetUserAsync(User);
}

<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img class="img-fluid" src="/img/waterLimit.jpg" alt="" width="85%">
        <div class="caption">
            <h1 style="color: white">YOUR WATER RESERVATIONS</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h3 class="text">ACTIVE</h3>
    @if (Model.CurrentReservations.Any())
    {
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">BOOKED QUANTITY</th>
                <th scope="col">PRICE</th>
                <th scope="col">STARTED</th>
                <th scope="col">WATER COMPANY</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var reservation in Model.CurrentReservations)
            {
                <tr>
                    <td>@reservation.Id</td>
                    <td>@reservation.BookedQuantity</td>
                    <td>@reservation.Price</td>
                    <td>@reservation.Timestamp.ToString("dd/MM/yyyy")</td>
                    <td>@reservation.WaterCompanyId</td>
                    @* TODO aggiungere un modo per annullare una prenotazione *@
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-danger">You don't have any active reservation yet!</h5>
    }
    
    <a type="button" class="btn btn-success" asp-page="/FarmManager/Reservations/Reservation" asp-route-farmingCompanyId="@user!.CompanyId">
        Request new Reservation
    </a>
    
</div>

<div class="container mt-5">
    <h3 class="text">PENDING</h3>
    @if (Model.PendingReservations.Any())
    {
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">BOOKED QUANTITY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">WATER COMPANY</th>
                    <th scope="col">STATE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model.PendingReservations)
                {
                    <tr>
                        <td>@reservation.Id</td>
                        <td>@reservation.BookedQuantity</td>
                        <td>@reservation.Price</td>
                        <td>@reservation.WaterCompanyId</td>
                        <td>PENDING</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-danger">You have no pending reservations for now</h5>
    }

</div>

<div class="container mt-5">
    <h3 class="text">HISTORY</h3>
    @if (Model.PastReservations.Any())
    {
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">BOOKED QUANTITY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">STARTED</th>
                    <th scope="col">WATER COMPANY</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model.PastReservations)
                {
                    <tr>
                        <td>@reservation.Id</td>
                        <td>@reservation.BookedQuantity</td>
                        <td>@reservation.Price</td>
                        <td>@reservation.Timestamp.ToString("dd/MM/yyyy")</td>
                        <td>@reservation.WaterCompanyId</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-danger">Your reservations history is clear!</h5>
    }

</div>




