@page "/FarmingCompanies"
@model OnlyFarms.WebApp.Pages.FarmingCompanyModel
@{
    <header>
        <link rel="stylesheet" type="text/css" href="~/css/myStyle.css">
    </header>

    <form method="post">
        <div>

            <div class="container">
                <div id="stripe">
                    <h1 id="heading"> FARMING COMPANIES </h1>
                    <img src="/img/stripe.jpeg" id="field">
                </div>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SELECT</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">CITY</th>
                            <th scope="col">NAME</th>
                            <th scope="col">UNIQUE CODE</th>
                            <th scope="col">WATER SUPPLY </th>
                        </tr>
                    </thead>
                    <tbody>
                        @await foreach (var farmC in Model.FarmingComp)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedItems" value="@farmC.Id" id="selectComp-@farmC.Id" />
                                </td>
                                <td><a href="/FarmingCompanies/@farmC.Id">@farmC.Address</a></td>
                                <td>@farmC.City</td>
                                <td>@farmC.Name</td>
                                <td>@farmC.UniqueCompanyCode</td>
                                <td>@farmC.WaterSupply</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <span> SELECT THE WATER COMPANY THAT YOU WANT TO REMOVE</span>
                <br />
                <a href="/FarmingCompanies/CreateFarm" class="btn btn-success">ADD</a>
           
            </div>
        </div>
    </form>
    

}
