@page "/WaterCompany/{id}"
@model OnlyFarms.WebApp.Pages.WaterReservationModel
@{


}

<head>
    <title> Misurazioni </title>
    <link rel="stylesheet" type="text/css" href="~/css/myStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div id="stripe">
            <h1 id="heading"> WATER RESERVATION </h1>
            <img src="/img/stripe.jpeg" id="field">
        </div>


        <form method="post">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">SELECT</th>
                        <th scope="col">BOOKED QTY</th>
                        <th scope="col">FARMid</th>
                        <th scope="col">ON GOING</th>
                        <th scope="col">PRICE SUPPLY</th>
                    </tr>
                </thead>
                <tbody>
                    @await foreach (var waterC in Model.WaterReservation)
                    {
                        if(waterC == null)
                        {
                           <h3> NO DATA FOR THIS WATER COMPANY </h3>
                        }
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedItems" value="@waterC.Id" id="selectComp-@waterC.Id" />
                            </td>
                            <td>@waterC.BookedQuantity</td>
                            <td>@waterC.FarmingCompanyId</td>
                            <td>@waterC.OnGoing</td>
                            <td>@waterC.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
            <span> SELECT THE WATER COMPANY THAT YOU WANT TO REMOVE</span>
            <br />
            <button type="button" class="btn btn-success">ADD</button>
            <button type="button" class="btn btn-danger">REMOVE</button>
        </form>
    </div>
</body>